h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 1px black;
    font-size: 40px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 25%;
}

img:hover {
    cursor: pointer;
}

.placeAtCenter {
    text-align: center;
    text-transform: capitalize;
}

.error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}

html {
    font-size: 14px;
    font-family: 'Open Sans', sams-serif;
}

html {
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 0px 20px;
    border: 5px solid black;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}